#!/bin/zsh

if [[ "$OSTYPE" == "darwin"* ]]; then
    # General
    alias szsh="source ~/.zshrc"
    alias evim="$EDITOR ~/.config/nvim/init.lua"
    alias ezsh="$EDITOR ~/.zshrc"
    alias vim="nvim"
    alias vi="nvim"
    alias v="nvim"
    alias p3="python3"
    alias p2="python2"
    alias mux="tmuxinator"
    alias gpgkill="gpgconf --kill gpg-agent"
    alias ag="rg"
    alias tmux='TERM=screen-256color tmux'
    # alias ls='ls --color=auto'
    alias lsa='ls -a'
    alias lsf='ls -aF'

    # Directory Navigation
    alias dk="cd ~/Desktop"
    alias doc="cd ~/Documents"
    alias dl="cd ~/Downloads"
    alias odk="open ~/Desktop"
    alias odoc="open ~/Documents"
    alias odl="open ~/Downloads"

    # Stuff
    alias dud='du -d 1 -h'
    alias duf='du -sh *'

    # dir stack
    alias ds='dirs --verbose'

    # Other navigation stuf
    alias ..='cd ..'
    alias ...='cd ../..'
    alias cdr="cd $(git rev-parse --show-toplevel)"

    # alias motherbraincp="scp -i ~/.ssh/personal_rsa -P 666 first_floor.svg pi@192.168.0.183:/home/pi/"
    # alias bfg="java -jar ~/.bin/bfg.jar"

    # Docker Compose
    alias dc='docker-compose'
    alias dcb='docker-compose build'
    alias dcs='docker-compose stop'
    alias dcup='docker-compose up'
    alias dcupd='docker-compose up -d'
    alias dcd='docker-compose down'
    alias dcl='docker-compose logs -f'

    # Git Aliases
    alias wip='work_in_progress'
    alias gwip='git add -A; git rm $(git ls-files --deleted) 2> /dev/null; git commit --no--verboseerify -m "--wip-- [skip ci]"'
    alias gunwip='git log -n 1 | grep -q -c "\-\-wip\-\-" && git reset HEAD~1'

    alias g='git'

    alias ga='git add'
    alias gaa='git add --all'
    alias gap='git add --patch'
    alias gau='git add --update'

    alias gb='git branch'
    alias gba='git branch --all'
    alias gbd='git branch --delete'
    alias gbda='git branch --no-color --merged | command grep --verboseE "^([+*]|\s*($(git_main_branch)|$(git_develop_branch))\s*$)" | command xargs git branch --delete 2>/dev/null'
    alias gbdf='git branch --delete --force'
    alias gbD='git branch --delete --force'
    alias gbl='git branch --no-merged'
    alias gbr='git branch --remote'

    alias gbs='git bisect'
    alias gbsb='git bisect bad'
    alias gbsg='git bisect good'
    alias gbsr='git bisect reset'
    alias gbss='git bisect start'

    alias gc='git commit --verbose'
    alias gc!='git commit --verbose --no-edit --amend'
    alias gca='git commit --verbose --all'
    alias gca!='git commit --verbose --all --no-edit --amend'

    alias gcb='git checkout -b'
    alias gcm='git checkout $(git_main_branch)'
    alias gco='git checkout'

    alias gclean='git clean --interactive -d'
    alias gclean!='git clean -fd'
    alias gcleanf='git reset --hard && git clean --force -dfx'

    alias gcp='git cherry-pick'
    alias gcpa='git cherry-pick --abort'
    alias gcpc='git cherry-pick --continue'

    alias gd='git diff'
    alias gdc='git diff --cached'
    alias gds='git diff --staged'
    alias gdup='git diff @{upstream}'

    alias ggpull='git pull origin "$(git_current_branch)"'
    alias ggpush='git push origin "$(git_current_branch)"'

    alias ggpushf='ggpush --force-with-lease'
    alias ggpp='ggpull && ggpush'

    # alias glo="glom"
    # alias glom="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'"
    # alias gloma="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all"
    # alias glos='git log --oneline --decorate --graph'
    # alias glosa='git log --oneline --decorate --graph --all'

    alias glg='git log --stat'
    alias glgp='git log --stat --patch'
    alias glgg='git log --graph'
    alias glgga='git log --graph --decorate --all'
    alias glgm='git log --graph --max-count=10'
    alias glo='git log --oneline --decorate'
    alias glol="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'"
    alias glols="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --stat"
    alias glod="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset'"
    alias glods="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --date=short"
    alias glola="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --all"
    alias glog='git log --oneline --decorate --graph'
    alias gloga='git log --oneline --decorate --graph --all'

    alias gr='git remote'
    alias gra='git remote add'
    alias grs='git remote --verbose'

    alias grb='git rebase'
    alias grba='git rebase --abort'
    alias grbc='git rebase --continue'
    alias grbs='git rebase --skip'
    alias grbi='git rebase --interactive'
    alias grbm='git rebase $(git_main_branch)'
    alias grbom='git rebase origin/$(git_main_branch)'

    alias grh='git reset --hard'
    alias grs='git reset --soft'

    alias gfa='git fetch --all --prune --jobs=10'
    alias gfo='git fetch origin'

    alias gs='git status -sb'

    alias gwch='git whatchanged -p --abbrev-commit --pretty=medium'

    alias epoch='date +%s000'

    alias codespell='codespell --config ~/.codespellrc'
    alias cs='codespell'

    alias wtf=wtfutil
fi
